---
apiVersion: apps/v1 
kind: Deployment
metadata:
  name: phippy-api
  namespace: phippy
spec:
  replicas: 2
#  minReadySeconds: 15
  selector:
    matchLabels:
      app.kubernetes.io/name: phippy
      app.kubernetes.io/component: api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: phippy
        app.kubernetes.io/component: api
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5000"
    spec:
      containers:
      - name: phippy
        image: ghcr.io/hlesey/phippy-api:1.0
        env:
        - name: DB_PORT
          value: "6379"
        - name: DB_HOST
          value: "phippy-db"
        resources:
          limits:
            memory: "100Mi"
          requests:
            cpu: "100m"
            memory: "100Mi"
        ports:
        - name: http
          containerPort: 5000
        livenessProbe:
          httpGet:
            path: /livez
            port: http
        readinessProbe:
          httpGet:
            path: /readyz
            port: http
---
apiVersion: v1
kind: Service
metadata:
  name: phippy-api
  namespace: phippy
spec:
  selector:
    app.kubernetes.io/name: phippy
    app.kubernetes.io/component: api
  ports:
  - name: http
    port: 80
    targetPort: 5000
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: phippy-api
  namespace: phippy
spec:
  parentRefs:
  - name: eg
    namespace: envoy-gateway
  hostnames:
  - phippy-api.clusterx.qedzone.ro
  rules:
  - backendRefs:
    - name: phippy-api
      port: 80
    matches:
    - path:
        type: PathPrefix
        value: /
