---
apiVersion: apps/v1 
kind: Deployment
metadata:
  name: phippy-ui
  namespace: phippy
spec:
  replicas: 2
#  minReadySeconds: 15
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: phippy
      app.kubernetes.io/component: ui
  template:
    metadata:
      labels:
        app.kubernetes.io/name: phippy
        app.kubernetes.io/component: ui
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5000"
    spec:
      containers:
      - name: phippy
        image: ghcr.io/hlesey/phippy-ui:1.0
        env:
        - name: API_PORT
          value: "80"
        - name: API_HOST
          value: "phippy-api"
        resources:
          requests:
            cpu: "100m"
            memory: "100Mi"
          limits:
            memory: "100Mi"
        ports:
        - name: http
          containerPort: 5000
        livenessProbe:
          httpGet:
            path: /
            port: http
        readinessProbe:
          httpGet:
            path: /
            port: http
---
apiVersion: v1
kind: Service
metadata:
  name: phippy-ui
  namespace: phippy
spec:
  selector:
    app.kubernetes.io/name: phippy
    app.kubernetes.io/component: ui
  ports:
  - name: http
    port: 80
    targetPort: 5000
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: phippy-ui
  namespace: phippy
spec:
  parentRefs:
  - name: eg
    namespace: envoy-gateway
  hostnames:
  - phippy.clusterx.qedzone.ro
  rules:
  - backendRefs:
    - name: phippy-ui
      port: 80
    matches:
    - path:
        type: PathPrefix
        value: /
