name: Flask

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip' # caching pip dependencies
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt -r api/requirements.txt -r ui/requirements.txt
    - name: Linter
      run: make lint
    - name: Security analysis
      run: make security
    - name: Unit Tests
      run: make test
